
#EntryWidget {
  background: yellow;
  color: blue;
  font-style: normal;
  font-weight: bold;
  border-radius: 15px;
  border-width: 0;
  border: none;
  font-size: 14;
  margin: 0px 100px 100px 0px;
}
